.media-helper-choose {
    /* border: dashed 1px #e91e63; */
    outline: red solid 2px !important;
    box-sizing: border-box;
    /* position: relative; */
}

/* .media-helper-choose::before{
    content: ' ';
    position: absolute;
    left: 2px;
    top: 0;
    width: 2px;
    height: 100%;
    display: block;
    border-radius: 50%;
    background-color: red;
    box-sizing: border-box;
    z-index: 1000;
}

.media-helper-choose::after{
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    display: block;
    border-radius: 50%;
    background-color: red;
    box-sizing: border-box;
    z-index: 1000;
} */
