.warp {
    width: 300px;
    user-select: none;
}

.warp h2 {
    text-align: center;
    border-bottom: solid 1px #d1d1d1;
    padding-bottom: 1em;
    user-select: none;
}

.warp ul {
    height: 400px;
    overflow-y: auto;
    padding: 0;
}

.warp li {
    padding: 1em 0.5em;
    position: relative;
    list-style: none;
}

#file-list::-webkit-scrollbar{
    width: 4px;
    background-color: #d1d1d1fa;
    border-radius: 4px;
}

.warp li:hover{
    background: #f1f1f1;
}

.warp .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: calc(100% - 4em);
    user-select: none;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.speed {
    position: absolute;
    left: 0;
    width: 50%;
    background-color: #2196f3;
    height: 2px;
    transition: width .6s;
}

.btn {
    width: 4em;
    background: #777777;
    color: #fff;
    text-align: center;
    padding: 0.4em 0;
    border-radius: 0.4em;
    cursor: pointer;
    margin: 0 0.5em;
    user-select: none;
}

.btn-def {
    background: #607d8b;
}

.btn-yes {
    background: #009688;
}

.btn-no {
    background: #e91e63;
}

.info i{
    background-color: #2196f3;
    color: white;
    border-radius: 0.5em;
    padding: 0.2em;
    cursor: default;
    margin-right: 1em;
}

.preview{
    background-color: #cfcdcd;
    padding: 1em;
    box-sizing: border-box;
    display: none;
    text-align: center;
    height: 150px;
    overflow: hidden;
}

#video-play{
    display: none;
    width: 100%;
    height: 100%;
}

#audio-play{
    display: none;
    width: 100%;
}

#image-play{
    display: none;
    max-width: 100%;
    max-height: 100%;
}